.main {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  line-height: 1.5;
}

.title {
  font-size: 2rem;
}

.subtitle {
  font-size: 1.25rem;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.actions button {
  background-color: #393e46;
  color: #eeeeee;
  font: inherit;
  margin-top: 16px;
  font-size: 1.25rem;
  padding: 8px 24px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}

.actions button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
