.card {
  width: 60%;
  margin: 1rem auto;
}

.form {
  background-color: #c1d1d1;
  padding: 1.5rem;
  border-radius: 4px;
}

.control {
  margin-bottom: 16px;
}

.control label {
  font-size: 1.25rem;
  display: block;
}

.control label,
.control input,
.control textarea {
  margin-bottom: 8px;
  border-radius: 4px;
}

.control input,
.control textarea {
  font: inherit;
  padding: 0.35rem;
  border-radius: 4px;
  background-color: #f0f0f0;
  border: 1px solid #c1d1d1;
  display: block;
  width: 100%;
  font-size: 1.25rem;
}

.control input:focus,
.control textarea:focus {
  outline-color: #393e46;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions button {
  background-color: #393e46;
  color: #eeeeee;
  font: inherit;
  font-size: 1rem;
  padding: 8px 24px;
  margin-left: 8px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}

.actions button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
